.container {
    background: url(../img/wave.jpg);
    
}

.rainbow {
    font-size: 4em;
    font-family: 'Risque', cursive;    
    /* font-family: 'Racing Sans One', cursive; */
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: -3px -3px 1px #000000;   
}

p {
    font-family: 'Roboto', sans-serif;
}

h4 {
    color: #ffffff;
}

.lead {
    color: #ffffff;
}

.jumbotron {
    width: 100%;   
    background: rgba(243, 204, 113, 0.26);    
    color: #000000;       
    margin-top: 20px;
}

.weather {
    color: #000000;
    padding: 5px 5px 5px 5px;
}

.vids {
    position: relative;
    padding: 5px 5px 5px 5px;
}

.places {
    color: #000000;
    padding: 5px 5px 5px 5px;
}

.footer {
    color: #ffffff;    
}

/* Media Screen */

@media screen and (max-width:980px) {  
}

@media screen and (max-width:768px) {
}

@media screen and (max-width:640px) {
}

@media (max-width: 640px) {
    #masthead {
      position: static;
    }
}

@media (max-width: 768px) {
  .sidebar {
    float: none;
    max-width: 100%;
    }
}